.title-font {
    font-size: 50px;
    color: #2a9d8f;
}

.btn {
    border-radius: 20px;
    color: white;
    background-color: #264653;
    width: 220px;
}

.background {
    background-color: #f0efeb;
}

.end {
    height: 300px;
    background-color: #f0efeb;
}